@font-face {
	font-family: 'Helvetica';
	src: url('helvetica/Helvetica.ttf');
}
@font-face {
	font-family: 'Helvetica';
	src: url('helvetica/Helvetica-Bold.ttf');
	font-weight: bold;
}

* {
	box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/** text colors */

.blue {
	color: #007aff !important;
}

/** font weight */
.bold {
	font-weight: bold;
}

.button {
	display: flex;
	cursor: pointer;
}
.button.buy {
	position: absolute;
	opacity: 0;
	width: 60px;
	height: 50px;
	background-image: url('../images/cart.png');
	background-size: contain;
	background-repeat: no-repeat;
	bottom: 5px;
	right: 5px;
	transition: opacity 0.3s linear 0s;
}

/** header */
.header-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;
	padding: 0 50px;
	border-bottom: 1px solid #d9d9d9;
}
header {
	display: flex;
	height: 100%;
	width: 1530px;
	align-items: center;
	justify-content: space-between;
}
.left-header {
	display: flex;
	height: 100%;
	align-items: center;
	gap: 120px;
}
nav {
	display: flex;
	height: 100%;
	gap: 50px;
}
.alt-nav {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}
.popup-link {
	display: flex;
	flex: 1;
}
.popup-link {
	display: flex;
}
.link {
	display: inline-flex;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.faq {
	font-size: 20px;
}
.pending-nav-link,
.active-nav-link,
.nav-link {
	display: flex;
	align-items: center;
	font-size: 20px;
	color: #000;
	text-decoration: none;
	padding: 20px 0;
}
.active-nav-link {
	font-weight: bold;
	border-bottom: 3px solid #000;
}

/** Pages */
.page-container {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	padding: 0px;
	margin: 0;
	min-height: 100vh;
}
.videos-section {
	display: flex;
	width: 1530px;
	align-items: center;
	flex-direction: column;
	margin: 20px 50px;
	gap: 20px;
}
.videos-title,
.back-link {
	display: flex;
	width: 100%;
	text-align: left;
	font-size: 26px;
	font-weight: bold;
}
.back-link > .link {
	color: #cfcfcf;
	font-size: 16px;
}
.video-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 5px;
}
.video-thumb {
	display: flex;
	width: auto;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10;
}
.video-thumb:hover > .button.buy {
	opacity: 1;
	transition: opacity 0.3s linear 0s;
}
.cart-container {
	z-index: 5;
}
.git-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
}
.git-form-container {
	display: flex;
	flex-direction: column;
	width: 685px;
	background-color: #fff;
	padding: 50px;
}
#git-form {
	display: flex;
	flex-direction: column;
}
.required {
	color: red;
}
.git-form-title {
	font-weight: 22px;
	font-weight: bold;
	margin-bottom: 20px;
}

.git-form-subtitle {
	font-weight: 18px;
	margin-bottom: 20px;
}

.git-input {
	height: 59px;
	margin: 15px 0;
	border: 1px solid #000;
}

.git-input-area {
	height: 300px;
	margin: 15px 0;
}
.about-section {
	display: flex;
	width: 100%;
	background-color: #f3f4f5;
	justify-content: center;
	padding: 40px 0;
	margin: 30px 0;
}
.about-sub-section {
	display: flex;
	width: 1530px;
	gap: 50px;
}
.about-text {
	display: flex;
	flex-direction: column;
}
.get-in-touch {
	display: flex;
	flex-direction: column;
}
.git-illustration {
	width: 509px;
	height: 285px;
	background-image: url('../images/get_in_touch.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.git-bottom {
	display: flex;
	margin: 20px 0 0;
	justify-content: space-between;
}
.button.git {
	display: flex;
	background-color: #ff9500;
	color: #fff;
	width: 293px;
	height: 54px;
	font-size: 24px;
	font-weight: bold;
	align-items: center;
	justify-content: center;
	background-image: url('../images/faq_icon.png');
	background-repeat: no-repeat;
	background-position: 35px center;
	border-radius: 5px;
}
.git-pricing {
	display: flex;
	flex-direction: column;
}
.git-price {
	font-size: 24px;
	font-weight: bold;
	text-align: right;
}
.git-price-details {
	font-size: 15px;
	text-align: right;
}
.buy-now-container {
	display: flex;
	gap: 40px;
}
.thumbnail.buy-now,
.thumbnail.download-now {
	display: flex;
	width: 992px;
	height: 560px;
	background-repeat: no-repeat;
	background-size: cover;
}

.video-info,
.download-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 510px;
	height: 560px;
}
.video-title {
	display: inline-flex;
	flex-direction: column;
	font-size: 22px;
	margin-bottom: 20px;
}
.video-keywords {
	display: flex;
	flex-direction: column;
	color: #cfcfcf;
}
.video-keywords-title {
	color: #cfcfcf;
}
.video-keywords-text {
	display: inline-flex;
	gap: 5px;
}
.video-meta-container {
	display: flex;
	flex-direction: column;
}
.video-meta {
	display: flex;
	gap: 10px;
}
.price-container {
	display: flex;
	border-top: 1px solid #cfcfcf;
}
.resolution-type {
	display: flex;
	width: 100%;
	flex-direction: column;
	border: none;
	gap: 10px;
	padding: 0;
	margin-top: 10px;
}
.radio {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.button.buy-now {
	background-image: url('../images/cart_1.png');
	background-position: 160px center;
	background-color: #2483ff;
	width: 509px;
}
.button.download-now {
	background-image: url('../images/download.png');
	background-position: 140px center;
	background-color: #2483ff;
	width: 509px;
}
.button.send {
	background-image: url('../images/send.png');
	background-position: 160px center;
	background-color: #000;
	width: 509px;
}
.button.submit {
	margin-top: 30px;
	background-color: #2483ff;
}
.button.buy-now,
.button.download-now,
.button.send,
.button.submit {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 24px;
	height: 64px;
	border-radius: 5px;
	background-repeat: no-repeat;
}
.legend {
	text-align: center;
}
.contact-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.email-input {
	border: 1px solid #000;
	border-radius: 3px;
	font-size: 18px;
	width: 100%;
	height: 50px;
	padding: 10px;
	margin-bottom: 20px;
}
